apipkg==1.4
autopep8==1.2.4
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
configparser==3.5.0
coverage==4.3.4
cycler==0.10.0
decorator==4.0.11
enum34==1.1.6
execnet==1.4.1
funcsigs==1.0.2
functools32==3.2.3.post2
h5py==2.6.0
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.9.4
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
Keras==1.2.1
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.3
mock==2.0.0
nbconvert==4.2.0
nbformat==4.2.0
notebook==4.3.1
numpy==1.11.3
nvidia-ml-py==7.352.0
olefile==0.44
pandas==0.19.2
pathlib2==2.2.0
pbr==1.10.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.9
protobuf==3.1.0.post1
psutil==5.0.1
ptyprocess==0.5.1
py==1.4.32
pycairo==1.10.0
Pygments==2.1.3
pyparsing==2.1.4
pytest==3.0.6
pytest-cache==1.0
pytest-cov==2.4.0
pytest-pep8==1.0.6
pytest-xdist==1.15.0
python-coveralls==2.9.0
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.13.0
scandir==1.4
scipy==0.18.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
subprocess32==3.2.7
tensorflow-gpu==0.12.1
terminado==0.6
Theano==0.9.0b1
tornado==4.4.2
traitlets==4.3.1
wcwidth==0.1.7
widgetsnbextension==1.2.6
